<div class="item">
    <p>URL da Receita</p>
    <div>
        <input 
            type="url" 
            name="avatar_url" 
            placeholder="http://" 
            value="{{recipe.avatar_url}}"
        >
    </div>
</div>

<div class="item">
    <p>Título da Receita</p>
    <div>
        <input 
            type="text" 
            name="title" 
            placeholder="" 
            value="{{recipe.title}}"
        >
    </div>
</div>

<div class="item">
    <p>Autor da Receita</p>
    <div>
        <input 
            type="text" 
            name="author" 
            placeholder="" 
            value="{{recipe.author}}"
        >
    </div>
</div>

<div class="item" id="ingredients">
    <p>Ingredientes</p>
    {% if recipe.ingredients %}
        {% for ingredient in recipe.ingredients %}
            <div class="ingredient">
                <input type="text" value="{{ingredient}}" name="ingredients[]" placeholder="Ingredientes">
            </div>
        {% endfor %}
    {% else %}
        <div class="ingredient">
            <input type="text" value="" name="ingredients[]" placeholder="Ingredientes">
        </div>
    {% endif %}
<button type="button" class="add-ingredient">Adicionar ingrediente</button>

</div>

<div class="item" id="preparations">
    <p>Modo de preparo</p>
    {% if recipe.preparations %}
        {% for preparation in recipe.preparations %}
            <div class="preparation">
                <input type="text" value="{{preparation}}" name="preparation[]" placeholder="Modo de preparo">
            </div>
        {% endfor %}
    {% else %}
    <div class="preparation">
        <input type="text" value="" name="preparations[]" placeholder="Modo de preparo">
    </div>
    {% endif %}
    <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>

<div class="item">
    <p>Informações adicionais</p>
    <div>
        <textarea 
            name="information"  
            cols="30" 
            rows="10">
        </textarea>
    </div>
</div>

