{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy - Admin
    </title>

{% endblock %}
{% block content %}

    <main class="wrapper-home-admin">
        <div class="wrapper-home-admin-top">
            <h1>Gerenciar receitas</h1>
            <a href="/admin/recipes/create">Nova receita</a>
        </div>

        <div class="images-home">
            {% for item in items %}
                <div class="details-recipe" id="{{item.id}}">
                    <img src="{{item.avatar_url}}" alt="Imagem de {{item.title}}">
                        <div class="info-admin">
                            <h5>{{item.title}}</h5>
                            <p>por {{item.author}}</p>
                            <a href="recipes/{{item.id}}">Visualizar</a>
                        </div>
                </div>
            {% endfor %}
        </div>

    </main>

{% endblock %}