{% extends "layout.njk" %}

{% block head %}

<title>Foodfy - Sobre</title>

{% endblock %}

{% block content %}
<div class="text">
    <div class="first-info">
        <h1>Sobre o Foodfy</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem veritatis suscipit soluta? Impedit deleniti
            non cumque, voluptates molestiae laborum totam tenetur iure, voluptatem ex sequi iste rerum, nobis accusamus
            unde?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex delectus, corporis, ut ipsam adipisci debitis
            commodi et suscipit ab expedita vel impedit similique nemo nam hic asperiores fuga, obcaecati possimus!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores rem delectus laboriosam! Quisquam magnam
            voluptates culpa cumque est labore illum recusandae quos quidem dolorum eligendi, harum maiores quis?
            Expedita, officiis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rerum ipsa eligendi quisquam amet, fugit
            culpa suscipit repellat dolores, accusantium error tenetur non nostrum eum iusto architecto reiciendis quos
            aliquid.
        </p><br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam adipisci id quidem ducimus nihil nesciunt
            impedit qui? Esse, explicabo veniam ullam accusamus eum impedit, aliquam quod, ipsa non consequuntur
            facilis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nostrum dignissimos voluptatum expedita fuga
            fugit, ipsa suscipit quibusdam modi? Voluptatibus doloribus non dolorem iusto deserunt? Voluptate in
            eligendi excepturi repellendus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem maiores enim voluptates
            necessitatibus nulla reiciendis harum perferendis recusandae impedit eaque magnam consectetur iste quos,
            mollitia corrupti ea excepturi minima?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolore accusamus veniam vero omnis, at
            deserunt vitae? Debitis unde voluptate nulla modi beatae vero, laborum, eum quasi est suscipit consequatur.
        </p>
    </div>

    <div class="second-info">
        <h1>Como tudo começou</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illum deserunt iusto aliquam atque
            cupiditate at delectus, minima blanditiis commodi eveniet, harum facere nihil officiis ab impedit similique
            quis sint!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit animi nobis magni blanditiis nisi
            dolores eligendi voluptatum repudiandae ipsa alias exercitationem libero, dicta quaerat. Neque voluptates
            consectetur animi non ut?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis deleniti culpa nulla necessitatibus, sequi
            ab aut fuga, reiciendis neque ratione autem? Explicabo, sapiente suscipit voluptate fugiat ipsam odit unde
            quae?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod voluptas facere voluptates perferendis
            cupiditate vero natus asperiores aspernatur voluptate odio. Quod dolores doloremque animi itaque
            necessitatibus neque distinctio amet vero.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos fuga deleniti magnam recusandae cumque omnis,
            reprehenderit dignissimos, magni voluptas minima consequuntur. Explicabo excepturi dolorem enim. Illo
            nostrum minus rerum quae!
        </p>
    </div>

    <div class="third-info">
        <h1>Nossas Receitas</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem veritatis suscipit soluta? Impedit deleniti
            non cumque, voluptates molestiae laborum totam tenetur iure, voluptatem ex sequi iste rerum, nobis accusamus
            unde?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex delectus, corporis, ut ipsam adipisci debitis
            commodi et suscipit ab expedita vel impedit similique nemo nam hic asperiores fuga, obcaecati possimus!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores rem delectus laboriosam! Quisquam magnam
            voluptates culpa cumque est labore illum recusandae quos quidem dolorum eligendi, harum maiores quis?
            Expedita, officiis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rerum ipsa eligendi quisquam amet, fugit
            culpa suscipit repellat dolores, accusantium error tenetur non nostrum eum iusto architecto reiciendis quos
            aliquid.
        </p>
    </div>

</div>

<footer class="footer">
    <p>Todos os direitos reservados, receitas Foodfy</p>
</footer>

{% endblock %}