{% extends "layout.njk" %}

{% block head %}

    <title>Foodfy - Home
    </title>

{% endblock %}

{% block content %}

    <div class="info">
        <div class="text">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>

        <div class="picture">
            <img src="/assets/chef.png" alt="chef">
        </div>
    </div>

    <main class="wrapper-home">
        <h1>Mais acessadas</h1>

        <div class="images-home">
            {% for item in items %}
                <div class="image-home" id="admin/recipes/{{item.id}}">
                    <img src="{{item.avatar_url}}"  alt="Imagem de {{item.title}}">
                    <h5>{{item.title}}</h5>
                    <p>{{item.author}}</p>
                </div>
            {% endfor %}
        </div>

    </main>
{# 
    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <img src="" alt="">
            </div>
            <div class="modal-info">
                <h5></h5>
                <p></p>
                <button class="close-modal">Fechar modal</button>
            </div>
        </div>
    </div>

    <script src="/scripts/scriptHome.js"></script>
 #}


{% endblock %}