{% extends "layout.njk" %}

{% block head %}

    <title>Foodfy - Home
    </title>

{% endblock %}

{% block content %}

    <div class="info">
        <div class="text">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>

        <div class="picture">
            <img src="/assets/chef.png" alt="chef">
        </div>
    </div>

    <main class="wrapper-home">
        <h1>Mais acessadas</h1>

        <div class="images-home">
            {% for recipe in recipes %}
                <div class="image-home" id="admin/recipes/{{recipe.id}}">
                    <img src="{{recipe.image}}"  alt="Imagem de {{recipe.title}}">
                    <h5>{{recipe.title}}</h5>
                    <p>{{recipe.author}}</p>
                </div>
            {% endfor %}
        </div>

    </main>

{% endblock %}