@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
}

/*** Cabeçalho ***/
header{
    height: 80px;
    width: 130%;
    background-color: #111111;
}

.logo{
    margin: 25px auto auto 20%;
    height: 26.9px;
    width:  90.6px;
}


/*** CREATE-PAGE ***/


.details{
    margin-left: 26%;
    display: inline-block;
}

.details .top{
    display: flex;
    align-items: center;
    margin-top: 3.7%;
}

.details .top button{
    margin-left: 632px;
}

.details h1{
    font-size: 24px;
}

.details .item p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0.7%;
}

/***CREATE-PAGE - FORM***/

input {
    width: 940px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding-left: 1.4%;
}


.item textarea{
    width: 940px;
    height: 250px;
    margin-bottom: 50px;
    text-align: justify;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding: 15px;
}


input::placeholder{
    font-size: 16px;
}


.item button{
    font-size: 16px;
    color: #6558C3;
    font-weight: bold;
    background-color: white;
    margin-top: 1%;
    cursor: pointer;
}

a.button{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.details .top button[type="submit"],
a.button
{
    padding: 8px 16px;
    width: 150px;
    height: 37px;
    background-color: #6558C3;
    border-radius: 4px;
    font-size: 16px ;
    color: white;
    cursor: pointer;
}

/*** SHOW - RECIPE ***/

.recipe-page{
    margin-left: 26%;
    max-width: 940px;
    display: inline-block;

}

.recipe-page .top-show{
    display: flex;
    align-items: center;
    margin: 3.7% auto 1.6% 0;
}

.recipe-page .top-show h1{
    width: 812px;
    font-size: 24px;
}

.card__page-container{
    align-items: center;
    position: relative;
}

.card__page-container img{
    width: 100%;
    height: 280px;
    position: absolute;
    border-radius: 15px 15px;

}

.page-title{
    padding-top: 300px;
}

.page-title h1{
    margin-top: 10px;
    font-size: 36px;
    text-align: center;
}

.page-title p{
    font-size: 20px;
    text-align: center;
    color: #777777;
}

.page-title p+p{
    font-size: 14px;
    color: #111111;
}

.page-content{
    text-align: justify;
}

.page-content h2{
    font-size: 24px;
}

.page-content li, p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.page-content p{
    padding-bottom: 50px;
}

.page-ingredients h2, 
.page-preparation h2, 
.page-information h2{
    padding-top: 40px;
    padding-bottom: 10px;
}

#meuBotao1, #meuBotao2, #meuBotao3{
    font-size: 18px;
    color: #6558C3;
    font-weight: bold;
    background-color: white;
    margin-top: 2px;
    cursor: pointer;
    outline: none;
    
}

/***Delete PAGE ***/
    .top-edit{
        display: flex;
    }

    .top-edit h1{
        font-size: 24px;
        margin-bottom: 2%;
        margin-top: 3.7%;
        margin: 3.7% 10% 2% 0;
    }
    .top-edit button{
        margin:3.4% 0% 1.8% 46%;
        width: 92px;
        height: 37px;
        font-size: 16px;
        border-radius: 4px;
        
        color: white;
        background-color: #DC4747;
    }

    .top-edit button+button{
        margin-left: 0.7%;
        width: 137px;
        background-color: #6558C3;

    }

    /***RECIPES ADMIN***/

    .wrapper-home-admin{
        margin-left: 26%;
    }

    .wrapper-home-admin-top{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .wrapper-home-admin-top a{
        margin-left: 325px;
        padding: 4px 16px;
        width: 90px;
        height: 22px;
        background-color: #6558C3;
        border-radius: 4px;
        font-size: 16px ;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }



    .wrapper-home-admin h1{
        height: 28px;
        font-size: 24px;
        font-weight: bold;
    }
    
    .images-home{
   
        display: grid;
        grid-template-columns: 500px 500px;
        gap: 20px;
        margin-top: 20px;
    }
    
    .details-recipe{
        display: flex;
    }

    .info-admin  h5{
        margin-bottom: 3px;
        margin-left: 20px;

        font-size: 18px;
    } 

    .info-admin  p{
        margin-bottom: 3px;
        margin-left: 20px;

        font-size: 14px;
        color: #777777;
    } 

    .info-admin a{
        display: block;
        margin-top: 7px;
        margin-left: 20px;

        text-decoration: none;
        font-size: 14px;
        color: #6558C3;
        font-weight: bold;

        cursor: pointer;
    }

    .details-recipe img{
        width: 200px;
        height: 100px;
        border-radius: 8.5px;
    }
    
    .details-recipe h5{
        font-size: 20px;
        color: black;
        padding: 0px;
    }
    
    .details-recipep{
        font-size: 20px;
        color: black;
        padding: 0px;
    }