@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    margin-left: 25%;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

/*** Cabeçalho ***/
header{
    height: 93px;
    width: 940px;
}

.links{
    display: grid;
    grid-template-columns: 210px 1fr;

}

.links a:hover{
    color: purple;
    font-weight: bold;
    transition: color 200ms;
}

.logo{
    margin: 36.1px 122.4px 30px auto;
    height: 26.9px;
    width:  90.6px;
}

.menu{
    margin: 38px 0px
}

.menu a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 38px 30px 38px auto;
}

/*** CORPO***/

.info{
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

    opacity: 0;

    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
  
}

@keyframes up{
    from{
        transform: translateX(15px);
    }
    to {
        opacity: 1;
    }
}


.info h2{
    font-size: 32px;
    width: 305px;
    height: 38px;
    padding: 117px 259px 10px 60px;
}

.info p{
    font-size: 18px;
    width: 316px;
    height: 84px;
    padding: 10px 259px 117px 60px;
}

.picture img{
    width: 216px;
    height: 300px;
    padding: 66px 100px 0px 0px;
}

/*** CARDS ***/

.wrapper h1{
    height: 28px;
    font-size: 24px;
    padding: 50px 0px 20px 0px;
    font-weight: bold;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.image img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px;
}

.image h5{
    font-size: 18px;
    padding: 20px 0px 5px 0px;
}

.image p{
    font-size: 14px;
    padding: 0px 0px 30px 0px;
    color: #777777;
}

/***HOME***/

.wrapper-home{
    opacity: 0;

    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-play-state: running;

}

@keyframes up{
    from{
        transform: translateX(15px);
    }
    to {
        opacity: 1;
    }
}

.wrapper-home h1{
    height: 28px;
    font-size: 24px;
    padding: 50px 0px 0px 0px;
    font-weight: bold;

}

.images-home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.image-home img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px;
}

.image-home h5{
    font-size: 1px;
    color: white;
    padding: 0px;
}

.image-home p{
    font-size: 1px;
    color: white;
    padding: 0px;
}


/***FOOTER***/
footer {
    text-align: center;
    padding: 23px 100px;
    background-color: #EEEEEE;
    margin-top:15%;
}

footer p {
    color: #999999;
    font-size: 14px;
    text-align: center
}


/*** TEXT ***/

.text h1{
    font-size: 24px;
    padding: 30px 0px 20px 0px;
}

.text p{
    font-size: 18px;
    text-align: justify;

}

.third-info p{
    margin-bottom: 40px;
}

/***MODAL***/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    max-width:660px;
    height:413px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 25vh auto;
    position: relative;
    padding: 30px;
    text-align: center;
} 

.modal .modal-content img{
    width: 100%;
    height:200px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}


.close-modal {
    font-size: 16px;
    background-color: white;
    color: rgb(143, 142, 142);
    margin-top: 60px;
    cursor: pointer;
    opacity: 70%;

}

.modal-overlay.active {
    opacity: 1; 
    visibility: visible;
    left: 0.001px;
    width: 100%; 
}

.modal-info h5{
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

.modal-info p{
    color: #777777;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

/*** RECIPE ***/

.recipe-page{
    margin: 0 auto;
    max-width: 940px;

}

.card__page-container{
    align-items: center;
    position: relative;
}

.card__page-container img{
    width: 100%;
    height: 280px;
    position: absolute;
    border-radius: 15px 15px;
    top: 0;
}

.page-title{
    padding-top: 300px;
}

.page-title h1{
    margin-top: 10px;
    font-size: 36px;
    text-align: center;
}

.page-title p{
    font-size: 20px;
    text-align: center;
    color: #777777;
}
.page-content{
    text-align: justify;
}

.page-content h2{
    font-size: 24px;
}

.page-content li, p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.page-content p{
    padding-bottom: 50px;
}

.page-ingredients h2, 
.page-preparation h2, 
.page-information h2{
    padding-top: 40px;
    padding-bottom: 10px;
}

#meuBotao1, #meuBotao2, #meuBotao3{
    font-size: 12px;
    color: #999999;
    
}
