{% extends "layoutAdmin.njk" %}

{% block head %}

    <title>Foodfy - Admin
    </title>

{% endblock %}
{% block content %}

    <main class="wrapper-home-admin">
        <div class="wrapper-home-admin-top">
            <h1>Gerenciar receitas</h1>
            <a href="/admin/recipes/create">Nova receita</a>
        </div>

        <div class="images-home">
            {% for recipe in recipes %}
                <div class="details-recipe" id="{{recipe.id}}">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                        <div class="info-admin">
                            <h5>{{recipe.title}}</h5>
                            <p>por {{recipe.author}}</p>
                            <a href="recipes/{{recipe.id}}">Visualizar</a>
                        </div>
                </div>
            {% endfor %}
        </div>

    </main>

{% endblock %}