{% extends "admin/layout.njk" %}

{% block head %}

    <title>Foodfy - Receitas</title>

{% endblock %}

{% block content %}

    <main class="recipe-page">
        <div class="top-show">
            <h1>Receita: {{recipe.title}}</h1>
            <a href="/admin/recipes/{{recipe.id}}/edit" class="button">Editar receita</a>
        </div>

        <div class="pages">
            <div class="page" id="{{recipe.id}}">
                <div class="card__page-container">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                </div>

            <div class="page-title">
                <h1>{{recipe.title}}</h1>
                <p>{{recipe.author}}</p>
                <p>{{recipe.created_at}}</p>
            </div>

            <div class="page-content">
                <div class="page-ingredients">
                    <h2>Ingredientes</h2>
                    <button id="meuBotao1" type="button" onclick="showContent_1('ingredients')">Esconder Conteúdo</button>
                    <ul>
                        <div id='ingredients'>
                        {% for ingredients in recipe.ingredients %}
                            <li>{{ingredients}}</li>
                        {% endfor %}
                        </div>
                    </ul>
                </div>

                <div class="page-preparation">
                    <h2>Preparação</h2>
                    <button id="meuBotao2" type="button" onclick="showContent_2('preparation')">Esconder Conteúdo</button>
                    <div id='preparation'>
                        <ul>
                        {% for preparation in recipe.preparations %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="page-information">
                    <h2>Informação Adicional</h2>
                    <button id="meuBotao3" type="button" onclick="showContent_3('information')">Esconder Conteúdo</button>
                    <div id="information">
                        <p>{{recipe.information}}</p>
                    </div>
                </div>

        </div>
    </main>

    <script src="/scripts/scriptButton.js"></script>

{% endblock %}